<h1>DragonBall Page</h1>
<hr />
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control mt-2" placeholder="Poder" />

    <button class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      <!-- uso de for renovado de angular -->
      @for (character of characters(); track character.id) {
        @if (character.power >99) {
          <li>Nombre: {{character.name}} - Poder: <strong [class.text-danger]="character.power > 100">{{character.power}}</strong> </li>

        }@else {
          <li>Aqui no vale la pena ver nada</li>
        }
      }
    </ol>
  </div>
</section>
