<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active {
    color: red;
  }
</style>
<nav>
  <!-- uso de routerLink -->
  <!-- usamos exact para que sea si o si / y no se ponga todo con rojo al ser /hero porque /esta en ambas rutas -->
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contador</a
  >
  <a routerLink="hero" routerLinkActive="active">Hero</a>
  <a routerLink="dragonball" routerLinkActive="active">Dragon Ball</a>

</nav>
